body {
    background-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.monkey {
    background-image: url("https://styles.redditmedia.com/t5_5sz7gh/styles/communityIcon_imn3is9p63g81.png");
    background-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* unvisited link */
a:link {
    color: rgb(218, 14, 14);
}

/* visited link */
a:visited {
    color: rgb(218, 14, 14);
}

/* mouse over link */
a:hover {
    color: rgb(83, 8, 8);
}

/* selected link */
a:active {
    color: rgb(172, 33, 33);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

button {
    display: inline-block;
    padding: 6px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(218, 14, 14);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: rgb(83, 8, 8)
}

button:active {
    background-color: rgb(172, 33, 33);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

input[type=text] {
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.container {
    top: 0px;
    left: 0;
    z-index: 999;
    margin-left: 9%;
    margin-right: 9%;
    width: 80%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.minHight-500 {
    min-height: 500px;
}

.minHight-400 {
    min-height: 400px;
}

.output {
    padding-bottom: 10em;
}

.float-right {
    float: right;
}

.t-center {
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.w-small {
    width: 300px;
}

.w-med {
    width: 500px;
}

.go-back {
    text-decoration: none;
    font-weight: bold;
}

.timer {
    font-family: Courier New, monospace;
    font-weight: bold;
}

.total-timer {
    font-size: 20px;
    text-align: center;
    color: gray;
}

#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}